
/**************** CONTACTO ***********/

body {
    background-color: #272727;
}

.form-group label, legend {
    color: white;

}

.well {
    background-color: transparent;
    border: 2px solid #40ffbb ;
    padding: 30px;
}

