/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
	background-image: url('../img/bg.png');
    background-blend-mode: luminosity;
    background-color: #4E3188;
}
h1, h2, h3 {
	font-family: 'Press Start 2P', sans-serif;
	text-shadow: 2px 3px 0 #A778FA;
	max-width: 700px;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a, a:hover {
	transition: .5s all ease;
}
.btn {
	font-family: 'Press Start 2P', sans-serif;
}
.btn-default {
    background-color: #00FFCC;
    color: #fff;
    border: none;
    margin: 1em 0;
    box-shadow: 3px 3px 0 #0CCA98;
}
.btn-default:hover {
	box-shadow: 5px 5px 0 #0CCA98;
}
/*MENU NAV */
.navbar {
    min-height: initial;
    margin: 0;
}
.navbar-brand {
	max-width: 200px;
	height: initial;
}	
ul.nav.navbar-nav {
    padding: 15px 0;
}
.navbar-brand img {
  width: 100%;
  height: auto;
}
.navbar-inverse{
	background-color: rgba(34, 33, 61, 0.8);
	border: none;
	background-blend-mode: luminosity;
    box-shadow: 0 0 10px #000;
}
.navbar-inverse .navbar-nav li a, a{
	color: #0CCA98;
}
.navbar-inverse .navbar-nav li a:hover, a:hover{
	color: #FFF024;
	text-decoration: none;
}
/* VIDEO FROM COVERR.CO */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
        height: 100vh;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.video-container .filter h1 {
	background-image: url('../img/logo_bco.png');
    height: 160px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    min-height: 100%;
}
.video-container video.fillWidth {
    width: 100%;
}
/**-------------- Start Slider ---------------**/
#slider, .carousel {
	width: 100%;
    max-height: 45vh;
    position: relative;
    margin: auto;
    overflow: hidden;
}
#slider input {
	display: none;
}
#slider .slides {
    position:absolute; 
    width: 100%;
    height: 400px;
}
#slider .slides .slide {
    width: 33.33333333%;
    height: 100%; 
    float: left;
    filter: alpha(opacity=70); /* for IE */
    opacity: .7;
}
#slider .arrow label {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    width: 100px;
    height: 45px;
    margin-top: -22.5px;
    text-align: center;
    display: none;
}
#slider .next-arrow label { 
	right: 0;
	left: auto;
}
#slider .arrow label:hover .thumb {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transition: transform .5s ease-in;
    transition: transform .5s ease-in;
}
#slider .arrow label i {
    display: block;
    width: 40%;
    height: 45px;
    background-color: rgba(122,184,0,.8);
    color: #fff;
    line-height: 45px;
}
#slider .arrow label .thumb {
    display: block; 
    width:60%; 
    height: 45px;
}
#slider .prev-arrow label i {
	float: left;
}
#slider .prev-arrow label .thumb {
    float: right;
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
#slider .next-arrow label i {
	float: right;
}
#slider .next-arrow label .thumb {
    float: left;
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}
#slide-1-radio:checked ~ .slides .slide:first-child {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    -webkit-transform: translateX(100%) scale(1.2);
    -ms-transform: translateX(100%) scale(1.2);
    transform: translateX(100%) scale(1.2);
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
#slide-1-radio:checked ~ .slides .slide:nth-child(2) {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

#slide-1-radio:checked ~ .prev-arrow #prev-3-arrow,
#slide-1-radio:checked ~ .next-arrow #next-2-arrow {
    display: inline-block;
}

#slide-2-radio:checked ~ .slides .slide:nth-child(2) {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    -webkit-transform: translateX(0) scale(1.2);
    -ms-transform: translateX(0) scale(1.2);
    transform: translateX(0) scale(1.2);
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
#slide-2-radio:checked ~ .slides .slide:first-child {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
#slide-2-radio:checked ~ .prev-arrow #prev-1-arrow,
#slide-2-radio:checked ~ .next-arrow #next-3-arrow {
    display: inline-block;
}
#slide-3-radio:checked ~ .slides .slide:last-child {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(255,255,255,.7);
    filter: alpha(opacity=100); /* for IE */
    opacity: 1;
    -webkit-transform: translateX(-100%) scale(1.2);
    -ms-transform: translateX(-100%) scale(1.2);
    transform: translateX(-100%) scale(1.2);
    -webkit-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}
#slide-3-radio:checked ~ .slides .slide:nth-child(2) {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
#slide-3-radio:checked ~ .prev-arrow #prev-2-arrow,
#slide-3-radio:checked ~ .next-arrow #next-1-arrow {
    display: inline-block;
}
/**-------------- End Slider ---------------**/

/* CATALOGO */
#catalogo, #contacto {
    padding: 5em 0 10em;
}
#catalogo h2 {
    margin: 10vh auto;
}
.product:hover img {
    -webkit-transform:scale(1);
    transform:scale(1);
}
.product img {
    -webkit-transform:scale(.85);
    transform:scale(.85);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: initial;
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: .5em;
    right: 0;
}
.product .circle {
    background-color: #00FFCC;
    overflow: visible;
    border-radius: 50%;
    height: 260px;
    width: 260px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
}
.product {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 35vh;
}
.product:hover h3 {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
        -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.product h3 {
    color: rgba(255,255,255,0.8);
        opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
        -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}
/**----------- Start Media ----------**/
@media screen and (max-width: 768px) {
  #slider, .carousel  {
  	width: 100%; 
  	height: 100vh;
  }
  #slider .arrow label {
  	width: 80px;
  }
}
/**----------- End Media ----------**/
